body {
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9zdGF0aWMvaW1hZ2Uvd2Vic2l0ZS8yMDIyLTA0L2xyL3B4MTAxNzU1NC1pbWFnZS1rd3Z3ZzZidi5qcGc.jpg);
    background-size: cover;
    font-family: tahoma;
}

#logosection {
    padding-top: 4vh;
}

#logosection, #mottosection {
    display: flex;
    justify-content: center;
}

#motto, #logo {
    display: flex;
    justify-content: center;
    text-align: center;
    border: .25vw #000000 solid;
    outline: .2vw #ff5100 solid;
    outline-offset: -1px;
    background-color:burlywood;
    max-width: 100%;
    height: auto;
    font-size: x-large;
}

#motto {
    padding-left: 5px;
    padding-right: 5px
    
}

#services {
    display: flex;
    justify-content:space-evenly
}

#caption {
    display: flex;
    justify-content: center;
    border: .25vw #000000 solid;
    outline: .2vw orangered solid;
    outline-offset: -1px;
    background-color:burlywood;
    font-size: 2vw
}

#servpic {
    max-width: 100%;
    height: auto;
}

#caption, #servpic {
    flex-wrap: wrap;
}

#callbutton {
    display: flex;
    justify-content: center;
}

#call {
    border: .35vw #000000 solid;
    outline: .3vw orangered solid;
    outline-offset: -1px;
    background-color: rgb(130, 177, 248);
    font-size: 2vw

}

#call:hover {
    background-color: rgb(130, 177, 248)
}
#callanchor {
    text-decoration: none;
    color: #1519e4;

}
#callanchor:active {
    background-color: rgb(72, 209, 31)
}


@media (max-width: 600px) {
  #logosection {
     width: 50%;
     margin: 0 auto;
  }
  #motto {
    font-size:small;
  }
  #services {
    flex-wrap: wrap;
  }
  #caption {
    font-size: 6.5vw
  }
  #call {
    font-size: 4vw;
    
  }
}